.avatar-profile {
  vertical-align: middle;
  width: 300px;
  height: 300px;
}

form {
  padding: 2%;
}


html, body {
  margin: 0;
  padding: 0;
}
.main {

  background-position: bottom;

  height: 100vh;
}

.main .title {
  border: 1px solid #fff;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  top: calc(80vh - 45%);
  left: 50%;
  position: absolute;
  margin-left: -150px;
}

.card{
  position: center;
}

