<br><br>

<h1 class="heading heading--stroke-shadow">Mascotas Disponibles</h1>

<br><br>

<div class="row">
    <div class="product-grid">
        <div *ngFor="let item of pet" style="background-color: rgb(210, 241, 210); float: left;margin-left: 100px;margin-bottom: 20px;">
            <div class="product-image">
                <a [routerLink]="['/adopcion', item._id]" routerLinkActive="router-link-active" class="image">
                    <img class="pic-1" src="{{item.picture}}">
                </a>
                <ul class="product-links">
                    <li><a [routerLink]="['/adopcion', item._id]" routerLinkActive="router-link-active"><i class="fa fa-search"></i>Ver más</a></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><a  [routerLink]="['/adopcion', item._id]" routerLinkActive="router-link-active">{{item.name}}</a></h3>
                <div class="price">{{item.especie}}</div>
            </div>
        </div>
    </div>

</div>
