
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clinica</th>
            <th scope="col">Servicio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dates of dates; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{dates.veterinaria.nameOrg}}</td>
            <td>{{dates.service.service}}</td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" value="{{dates.date}}" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>
                <mat-datepicker #picker disabled ></mat-datepicker>
              </mat-form-field>
            </td>
            <td>{{dates.state}}<br>
            <button type="button" class="btn btn-danger" (click)="seguridadCancelar(dates._id)">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
