
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clinica</th>
            <th scope="col">Servicio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>La vendición</td>
            <td>Vacunación</td>
            <td>35/05/2501</td>
            <td>Reservado<br>
            <button type="button" class="btn btn-danger" (click)="seguridadCancelar()">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
