<br><br>

<h1 class="heading heading--stroke-shadow">Mascotas</h1>

<br><br>

<div class="row">
    <div class="product-grid">
        <div *ngFor="let item of pet" style="background-color: rgb(210, 241, 210); float: left;margin-left: 100px;margin-bottom: 20px;">
            <div class="product-image">
                <a  class="image">
                    <img class="pic-1" src="{{item.picture}}">
                </a>
                <ul class="product-links">
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><a >{{item.name}}</a></h3>
                <div class="price">{{item.especie}}</div>

                <div class="price">{{item.state}}</div>
                <div class="price"><mat-form-field disabled>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" value="{{item.departureDate}}" disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field></div>
            </div>
        </div>
    </div>

</div>
